<div class="row">
    <div class="col-md-12">
        <h3 align="center">2016 Mileage Log</h3>
    </div>
</div>
<div class="col-md-6">
        {% for year, year_calendars in calendar_info.activity_calendar()|dictsort(false, "key")|reverse %}
        <div class="year">
        <!-- <h2>{{ year }}</h2> -->
        {% for month in range(1,7) %}
          {% set calendar = year_calendars[month] %}
          <div class="month">
          <h3>{{ calendar_info.full_month_names[month] }}</h3>
          <table class="table table-bordered">
            <tr>
              <th>S</th>
              <th>M</th>
              <th>T</th>
              <th>W</th>
              <th>T</th>
              <th>F</th>
              <th>S</th>
              <th>Week</th>
            </tr>
        {% for calendar_row in calendar %}
            <tr>
        {% for calendar_cell in calendar_row %}
              <td class="{{calendar_cell["style_class"]}}">
        {% if "ride_distance" in calendar_cell %}
                {{calendar_cell["day_of_month"]}}<br>
                {{"%0.2f" | format(calendar_cell["ride_distance"])}} {{activities.activity_distances.unit_name}}
        {% else %}
                {{calendar_cell["day_of_month"]}}
        {% endif %}
        {% if loop.last %}
        </td>
        <td>{{"%0.2f" | format(calendar_cell["week_total_distance"])}}</td>
        {% endif %}
        {% endfor %}
            </tr>
        {% endfor %}
          </table>
          </div>
        {% endfor %}
        </div>
        {% endfor %}
</div>
<div class="col-md-6">
        {% for year, year_calendars in calendar_info.activity_calendar()|dictsort(false, "key")|reverse %}
        <div class="year">
        <!-- <h2>{{ year }}</h2> -->
        {% for month in range(7, 13) %}
          {% set calendar = year_calendars[month] %}
          <div class="month">
          <h3>{{ calendar_info.full_month_names[month] }}</h3>
          <table class="table table-bordered">
            <tr>
              <th>S</th>
              <th>M</th>
              <th>T</th>
              <th>W</th>
              <th>T</th>
              <th>F</th>
              <th>S</th>
              <th>Total</th>
            </tr>
        {% for calendar_row in calendar %}
            <tr>
        {% for calendar_cell in calendar_row %}
              <td class="{{calendar_cell["style_class"]}}">
        {% if "ride_distance" in calendar_cell %}
                {{calendar_cell["day_of_month"]}}<br>
                {{"%0.2f" | format(calendar_cell["ride_distance"])}} {{activities.activity_distances.unit_name}}
        {% else %}
                {{calendar_cell["day_of_month"]}}
        {% endif %}
        {% if loop.last %}
        </td>
        <td>{{"%0.2f" | format(calendar_cell["week_total_distance"])}}</td>
        {% endif %}
        {% endfor %}
            </tr>
        {% endfor %}
          </table>
          </div>
        {% endfor %}
        </div>
        {% endfor %}
</div>
