{% import "bootstrap/google.html" as google %}

<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

{{google.uanalytics('UA-2291030-4')}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<style type="text/css">

    body {
      font-family: "Roboto", serif;
      padding-top: 50px;
    }

    .navbar {
      background-color: #FC4C02;
    }

    .navbar a {
      color: #fff;
      font-size: 22px;
    }
    table {
        text-align: center;
    }
    th {
        text-align: center;
    }

  .navbar-header {
      float: left;
      padding: 15px;
      text-align: center;
      width: 100%;
  }
  .navbar-brand {float:none;}

</style>

</head>
<body>
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Strava {{ activities.human_activity_type }} Stats</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        {% if not (activities.chosen_activities | length) %}
          No activities found :(
        {% else %}
        <div class="row">
            <div class="col-md-4">
            {% include 'strava/table_stats.html' %}
            </div>
            <div class="col-md-8">
            {% include 'strava/calendar.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Average Weekly Mileage</h2>
                <div class="ct-chart"></div>
            </div>
            <div class="col-md-4">
                {% include 'strava/mileagechart.html' %}
            </div>

        </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        var data = {
          // A labels array that can contain any sort of values
          labels: {{ mileage_chart.range }},
          // Our series array that contains series objects or in this case series data arrays
          series: [
            {{ mileage_chart.graph_weekly_average | safe }}
          ]
        };

        var options = {
            height: "400px",
            divisor: 10,
            onlyInteger: true,
            axisX: {
                type: Chartist.AutoScaleAxis,
                onlyInteger: true,
                labelInterpolationFnc: function(value) {
                    return !(value % 10) ? value : undefined
                }
          }
        }

        new Chartist.Line('.ct-chart', data, options);

    </script>
</body>
</html>
