<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<style type="text/css">

    body {
      font-family: "Roboto", serif;
      padding-top: 50px;
    }

    .navbar {
      background-color: #FC4C02;
    }

    .navbar a {
      color: #fff;
      font-size: 22px;
    }
    table {
        text-align: center;
    }
    th {
        text-align: center;
    }

</style>

</head>
<body>
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Strava Cycling Stats</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <table class="table table-bordered", align="center">
                    <tr>
                        <th>Month</th>
                        <th>Total 2016</th>
                        <th>Cumulative</th>
                        <th>2015</th>
                        <th>Best</th>
                    </tr>
                    {% for month in calendar_info.short_month_names %}
                    {% if month %}
                    <tr>
                    <td>{{ month }}</td>

                   <td>{{ "%0.2f" | format(activities.ride_distances.by_month_year(loop.index-1, 2016)) }} {{activities.ride_distances.unit_name }}<br>{{ activities.ride_counts.by_month_year(loop.index-1, 2016) }} rides</td>

                    <td>{{ "%0.2f" | format(activities.ride_distances.by_month(loop.index-1)) }} {{activities.ride_distances.unit_name }}<br>{{ activities.ride_counts.by_month(loop.index-1) }} rides</td>


                    <td>{{ "%0.2f" | format(activities.ride_distances.by_month_year(loop.index-1, 2015)) }} {{activities.ride_distances.unit_name }}<br>{{ activities.ride_counts.by_month_year(loop.index-1, 2015) }} rides</td>

                    {% set best_year, best_month, best_distance, best_count = activities.ride_distances.best_month(loop.index-1) %}
                    <td>{{ best_year }}<br>{{ "%.02f" | format(best_distance) }} {{activities.ride_distances.unit_name }}<br> {{ best_count }} rides</td>

                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="3" align="center">
                            <strong>2016 Total</strong><br>
                            {{ "%0.2f" | format(activities.ride_distances.by_year(2016)) }} {{activities.ride_distances.unit_name }}<br>
                            {{ activities.ride_counts.by_year(2016) }} rides<br>
                        </td>
                        <td>
                            <strong>2015 Total</strong><br>
                            {{ "%0.2f" | format(activities.ride_distances.by_year(2015)) }} {{activities.ride_distances.unit_name }}<br>
                            {{ activities.ride_counts.by_year(2015) }} rides<br>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3 align="center">2016 Mileage Log</h3>
                    </div>
                </div>
                <div class="col-md-6">
                        {% for year, year_calendars in calendar_info.ride_calendar()|dictsort(false, "key")|reverse %}
                        <div class="year">
                        <!-- <h2>{{ year }}</h2> -->
                        {% for month in range(1,7) %}
                          {% set calendar = year_calendars[month] %}
                          <div class="month">
                          <h3>{{ calendar_info.full_month_names[month] }}</h3>
                          <table class="table table-bordered">
                            <tr>
                              <th>S</th>
                              <th>M</th>
                              <th>T</th>
                              <th>W</th>
                              <th>T</th>
                              <th>F</th>
                              <th>S</th>
                              <th>Week</th>
                            </tr>
                        {% for calendar_row in calendar %}
                            <tr>
                        {% for calendar_cell in calendar_row %}
                              <td class="{{calendar_cell["style_class"]}}">
                        {% if "ride_distance" in calendar_cell %}
                                {{calendar_cell["day_of_month"]}}<br>
                                {{"%0.2f" | format(calendar_cell["ride_distance"])}} {{activities.ride_distances.unit_name}}
                        {% else %}
                                {{calendar_cell["day_of_month"]}}
                        {% endif %}
                        {% if loop.last %}
                        </td>
                        <td>{{"%0.2f" | format(calendar_cell["week_total_distance"])}}</td>
                        {% endif %}
                        {% endfor %}
                            </tr>
                        {% endfor %}
                          </table>
                          </div>
                        {% endfor %}
                        </div>
                        {% endfor %}
                </div>
                <div class="col-md-6">
                        {% for year, year_calendars in calendar_info.ride_calendar()|dictsort(false, "key")|reverse %}
                        <div class="year">
                        <!-- <h2>{{ year }}</h2> -->
                        {% for month in range(7, 13) %}
                          {% set calendar = year_calendars[month] %}
                          <div class="month">
                          <h3>{{ calendar_info.full_month_names[month] }}</h3>
                          <table class="table table-bordered">
                            <tr>
                              <th>S</th>
                              <th>M</th>
                              <th>T</th>
                              <th>W</th>
                              <th>T</th>
                              <th>F</th>
                              <th>S</th>
                              <th>Total</th>
                            </tr>
                        {% for calendar_row in calendar %}
                            <tr>
                        {% for calendar_cell in calendar_row %}
                              <td class="{{calendar_cell["style_class"]}}">
                        {% if "ride_distance" in calendar_cell %}
                                {{calendar_cell["day_of_month"]}}<br>
                                {{"%0.2f" | format(calendar_cell["ride_distance"])}} {{activities.ride_distances.unit_name}}
                        {% else %}
                                {{calendar_cell["day_of_month"]}}
                        {% endif %}
                        {% if loop.last %}
                        </td>
                        <td>{{"%0.2f" | format(calendar_cell["week_total_distance"])}}</td>
                        {% endif %}
                        {% endfor %}
                            </tr>
                        {% endfor %}
                          </table>
                          </div>
                        {% endfor %}
                        </div>
                        {% endfor %}
                </div>
            </div>

        </div>
    </div>
</body>
</html>
