{% macro table_info(week_num, average) -%}
    {% set class = 'highlight' if calendar_info.current_week == week_num else '' %}
    <td class="{{class}}">{{ week_num }}</td>
    <td class="{{class}}">{{ "%0.2f" | format(average) }} {{activities.activity_distances.unit_name }}</td>
{%- endmacro %}


<table class="table table-bordered", align="center">
    <tr>
        <th>Week</th>
        <th>Avg</th>
        <th>Week</th>
        <th>Avg</th>
    </tr>
    {% for (first, second) in mileage_chart.weekly_average %}
    <tr>

        {{ table_info(first[0], first[1]) }}
        {% if second %}
        {{ table_info(second[0], second[1]) }}
        {% endif %}
    </tr>
    {% endfor %}
</table>
