
<table class="table table-bordered", align="center">
    <tr>
        <th>Week</th>
        <th>Avg</th>
        <th>Week</th>
        <th>Avg</th>
    </tr>
    {% for (first, second) in mileage_chart.weekly_average %}
    <tr>
        <td>{{ first[0] }}</td>
        <td>{{ "%0.2f" | format(first[1]) }} {{activities.ride_distances.unit_name }}</td>
        {% if second %}
        <td>{{ second[0] }}</td>
        <td>{{ "%0.2f" | format(second[1]) }} {{activities.ride_distances.unit_name }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
