{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
{% endblock %}

{% block title %}Rental{% endblock %}

{% block page_content %}

{% if current_user.is_administrator() %}
<ul>
    {% for apartment in ApartmentUnits.query.all() %}
    <li><a href="{{ url_for('.rental_admin', apartment=apartment.unit_number) }}">{{ apartment.unit_number }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if data is not defined %}
    <p>No Apartments have been assigned to you.</p>
{% else %}
<table class="table table-hover">
    <thead>
    {% for header in data.headers %}
    <th>{{ header }}</th>
    {% endfor %}
    </thead>
    <tbody>
        {% set total = '%.2f' % data.total %}
        {% for transaction in data.transactions %}
            {% set amount = '%.2f' % transaction['Amount'] %}

            <tr>
                <td>{{ transaction['Date'].strftime('%Y-%m-%d') }}</td>
                <td></td>
                <td>{{ transaction['Payee'] }}</td>
                <td>{{ transaction['Memo'] }}</td>
                <td>{{ transaction['Category'] }}</td>
                <td></td>
                <td align="right"> {{ amount }}</td>
            </tr>
        {% endfor %}
        <tr class="info">
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">{{ total }}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}
