{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>

<script type="text/javascript">console.log({{data.transactions}})</script>
{% endblock %}

{% block title %}Rental{% endblock %}

{% block page_content %}


<table class="table table-hover">
    <thead>
    {% for header in data.headers %}
    <th>{{ header }}</th>
    {% endfor %}
    </thead>
    <tbody>
        {% set total = '%.2f' % data.total %}
        {% for transaction in data.transactions %}
            {% set amount = '%.2f' % transaction['Amount'] %}

            <tr>
                <td>{{ transaction['Date'].strftime('%Y-%m-%d') }}</td>
                <td></td>
                <td>{{ transaction['Payee'] }}</td>
                <td>{{ transaction['Memo'] }}</td>
                <td>{{ transaction['Category'] }}</td>
                <td></td>
                <td align="right"> {{ amount }}</td>
            </tr>
        {% endfor %}
        <tr class="info">
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">{{ total }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
