input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
.center-div {
  margin: 0 auto;
  width: 80%;
}
@media (max-width: 768px) {
  body,
  h4.panel-title {
    font-size: 24px !important;
  }
}
@media (max-width: 992px) {
  body,
  h4.panel-title {
    font-size: 24px !important;
  }
}
